.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 7.2rem;
  margin-left: 1rem;
}

.header_link {
  list-style: none;
}

.header_a_link {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 1.3rem;
  color: rgb(39, 6, 6);
  font-family: "Baloo Da 2", sans-serif;
  font-weight: 500;
}

.header_a_link:hover,
.header_a_link:active {
  color: #66cccc;
}

/* font-family: 'Baloo Da 2', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; */
