.searchModal {
  max-height: 70%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow-y: scroll;
}

.searchModal__heading {
  text-align: center;
  margin-bottom: 30px;
}

.searchModal__heading:after {
  content: "";
  background: rgb(207, 205, 236);
  display: block;
  height: 3px;
  width: 328px;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
