.thanks {
    color: #355aa8;
    line-height: 2;
    text-align: center;
}

.btns {
    margin-left: 43%;
    padding: 0.5rem 2rem;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 10px;
    line-height: 7;
}
.btns:hover {
    background: #fff;
    color: #000;
}

img {
    margin-top: 100px;
  margin-left: 45%;
}

p
{
    margin-left: 38%;
}
